.ContainerCarousel{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    .carousel-caption{
        h5{
            color: black;
        }
        p{
            color: black;
        }
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
        filter: invert(100%);
        background-color: transparent;
    }
}
