.container2 {
    h1 {
        margin-top: 20px;
    }
    .filas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        .card {
            width: 100%;
            margin-bottom: 30px;
            .card-header {
                margin-left: 0;
                background-color: #ffffff;
                border: 3px solid rgb(254, 189, 228);
            }
        }
    }
}
