.container1{
    overflow: scroll;
    h1{
        margin-top: 20px;
    }
    .table{
        text-align: $center;
        width: 600px;
        margin: 80px auto 200px auto;
        th{
            text-align: left;
            margin-bottom: 50px;
            margin: 0 auto;
        }
        .table-danger{
            .td{
                margin: 5px;
                height: auto;
                width: 250px;
                padding: 7px;
                text-align: left;
                border-left: 3px solid rgb(66, 66, 66);
                background-color: $color1;
            }
        }
    }
}
