.container1 {
  overflow: scroll;
}
.container1 h1 {
  margin-top: 20px;
}
.container1 .table {
  text-align: center;
  width: 600px;
  margin: 80px auto 200px auto;
}
.container1 .table th {
  text-align: left;
  margin-bottom: 50px;
  margin: 0 auto;
}
.container1 .table .table-danger .td {
  margin: 5px;
  height: auto;
  width: 250px;
  padding: 7px;
  text-align: left;
  border-left: 3px solid rgb(66, 66, 66);
  background-color: rgb(254, 189, 228);
}

@media only screen and (min-width: 480px) {
  .galeria {
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(3, 200px);
    margin-bottom: 150px;
  }
  .ContainerBotones {
    text-align: start;
    margin-top: 50px;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    justify-content: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .galeria {
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 200px);
    margin-bottom: 150px;
  }
  .ContainerBotones {
    text-align: start;
    margin-top: 50px;
  }
  .botones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px;
    justify-content: center;
    flex-direction: row;
  }
}
* {
  margin-left: 10px;
}

html {
  margin: 0;
}

header {
  margin-left: 0;
}

.ContainerSkills {
  margin-bottom: 200px;
}
.ContainerSkills .ProgressBar {
  width: 450px;
  display: inline-block;
  margin-left: 100px;
}
.ContainerSkills .ProgressBar h1 {
  margin-top: 30px;
}
.ContainerSkills .ProgressBar h3 {
  margin-top: 70px;
}
.ContainerSkills .ProgressBar .progress {
  background-color: white;
  text-align: center;
  border: 1px solid #fc7c92;
}
.ContainerSkills .ProgressBar .progress .progress-bar {
  background-color: rgb(254, 189, 228);
  margin-left: 0;
}

nav {
  margin-left: 0;
}
nav .navbar {
  background-color: rgb(185, 113, 252);
  background: linear-gradient(to right, #b472fc, #fc7c92, #b472fc);
}

main {
  margin-left: 40px;
  margin-top: 70px;
}
main .Perfil {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
main .Perfil .wrapper {
  margin: 50px auto;
  width: 70%;
}
main .Perfil .wrapper img {
  max-width: 50%;
  float: left;
  border: 2px solid #fc7c92;
  border-radius: 10px;
  margin-right: 20px;
}
main .Perfil .wrapper .TextBox {
  font-size: 42px;
}
main .Perfil .wrapper .TextBox p {
  font-size: 25px;
  margin-bottom: 150px;
}

.ContainerBotones {
  text-align: center;
  margin-top: 70px;
}
.ContainerBotones .botones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px;
  text-align: center;
  flex-direction: column;
}
.ContainerBotones .botones button {
  color: black;
  background-color: rgb(254, 189, 228);
  border-radius: 7px;
  border-color: none;
  margin: 30px;
  width: -moz-fit-content;
  width: fit-content;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(1, 250px);
  grid-template-rows: repeat(6, 200px);
  justify-content: center;
  padding: 20px;
  grid-gap: 30px;
  margin-bottom: 180px;
}
.galeria .item {
  background-size: cover;
  background-position: center;
}
.galeria .item .item1 {
  background-image: url(../assets/media/gal\ 1.jpg);
}
.galeria .item .item2 {
  background-image: url(../assets/media/gal\ 2.jpg);
}
.galeria .item .item3 {
  background-image: url(../assets/media/gal\ 3.jpg);
}
.galeria .item .item4 {
  background-image: url(../assets/media/gal\ 4.jpg);
}
.galeria .item .item5 {
  background-image: url(../assets/media/gal\ 5.jpg);
}
.galeria .item .item6 {
  background-image: url(../assets/media/gal\ 6.jpg);
}

footer {
  background-color: rgb(185, 113, 252);
  background: linear-gradient(to right, #b472fc, #fc7c92, #b472fc);
  margin-top: 250px;
  margin-left: 0;
}

.ContainerIcon {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 13%;
}
.ContainerIcon p {
  margin-left: 20px;
  margin-bottom: 80px;
  transform: rotate(-270deg);
  transform-origin: left bottom;
  width: 80px;
}
.ContainerIcon a img {
  margin-left: 10px;
  height: 20px;
  width: 20px;
}

.ContainerAboutMe h1 {
  margin-top: 70px;
  text-align: left;
}
.ContainerAboutMe .Me {
  margin-bottom: 150px;
  margin-top: 80px;
}
.ContainerAboutMe .Me .AboutMeIma {
  float: right;
  max-width: 60%;
  margin-left: 20px;
  margin-right: 50px;
}
.ContainerAboutMe .Me p {
  font-size: 25px;
  margin-bottom: 220px;
  margin-left: 50px;
  margin-right: 20px;
}/*# sourceMappingURL=Estilos.css.map */